# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# MongoDB
*.bson
*.mongologs

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logi
*.log

# Zmienne środowiskowe
.env
.env.local